<p>user-new works!</p>
<form [formGroup]="formGroup">
  <label [class.invalid]="!controls['name'].valid">
    Name
    <input type="text" placeholder="Bitte Name eingeben" formControlName="name" />
    <span role="alert" *ngIf="!controls['name'].valid">Der Name muss angegeben werden.</span>
  </label>
  <label [class.invalid]="!controls['email'].valid">
    Email
    <input type="text" placeholder="Bitte Email eingeben" formControlName="email" />
    <span role="alert" *ngIf="!controls['email'].valid">Gültige Email Adresse angeben.</span>
  </label>
  <label [class.invalid]="!controls['gender'].valid">
    Gender
    <input type="text" placeholder="Bitte male or female angeben" formControlName="gender" />
    <span role="alert" *ngIf="!controls['gender'].valid">'male' oder 'female' angeben</span>
  </label>
</form>

<button [disabled]="formGroup.invalid" (click)="onSaveClick()">Abspeichern</button>