<p>user-new works!</p>
<form [formGroup]="formGroup">
  <label>
    Name
    <input type="text" placeholder="Bitte Name eingeben" formControlName="name" />
  </label>
  <label>
    Email
    <input type="text" placeholder="Bitte Email eingeben" formControlName="email" />
  </label>
  <label>
    Gender
    <input type="text" placeholder="Bitte male or female angeben" formControlName="gender" />
  </label>
</form>

<button [disabled]="formGroup.invalid" (click)="onSaveClick()">Abspeichern</button>