ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h2 {
  font-size: medium;
  font-family: sans-serif;
}

li > article {
  padding: 1em;
  border: dashed 1px black;
  border-radius: 4px;
}